.app {
}
/* start customs */
.custom__button {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  /* border-radius: 17px; */
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 767px) {
  .custom__button {
    font-size: 12px;
  }
}
.custom__button:hover {
  background-color: var(--color-blue-light);
  /* color: var(--color-dark); */
}
/* end customs */

.app__container {
  padding: 20px;
}
